/* html, body, #root {
  height: 100%;
  margin: 0;
  background: linear-gradient(90deg, rgb(31, 84, 117), rgb(26, 123, 179));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
} */
html, body, #root {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;   /* <-- horizontal center */
    align-items: center;        /* <-- vertical center */

    background: #e5f2ff;       /* page color */
}
